
.header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
}



body{
	background-color: black;
	background-image: url(Food2-2.jpeg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

	https://images3.alphacoders.com/738/thumb-1920-738230.jpg